.login-page{
    width: 24.81rem;
    margin: auto;
    padding: 5rem 2rem;
    

}
.logo{
    width: 14.75rem;
}
.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-bienvenue{
    color: #1B274C;
    font-size: 1.25rem;
    margin-block: 1.875rem;
    font-family: ubuntu;
}

.form{
   padding: 0.2rem 0.5rem;
}
.form-column{
    display: flex;
    flex-direction: column;
    

}

.form-label{
    color: rgba(29, 39, 73, 0.80);
    font-size: 1rem;
    font-weight:400;
}
.form-input{
    background:  #F3F3F3; 
    border-radius: 5px;
    width: 23.31rem;
    padding: 0.56rem 0.75rem;
    border: none;
    margin-top: 0.43rem;

 
  
}
.form-button{
    background: linear-gradient(180deg, #F28F00 0%, #EA580C 100%); 
    border-radius: 5px;
    text-align: center;
    padding: 0.56rem 0.75rem;
    width: 24.80rem;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: Ubuntu;
}

/* .form-button-text{
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: Ubuntu;

} */
.text-forgot{
    text-align:right;
    margin-right: -13px;
    color: #656976;
    font-size: 0.875rem;
    font-family: Ubuntu;
}