.card-user{
    background: white; 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    padding: 16px;
    width: 14.87rem;
    margin: 20px;
}
.card-user-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-user-text{
    color: #1B274C;
    font-size: 0.87rem;
    font-family: Ubuntu;
    font-weight: 400;
}
.card-user-email{
    color: #1B274C;
    font-size: 12px;
    font-family: Ubuntu;
    font-weight: 300;
}
