
.card-user-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-user-text{
    color: #1B274C;
    font-size: 0.87rem;
    font-weight: 400;
}
.card-user-email{
    color: #1B274C;
    font-size: 12px;
    font-weight: 300;
}
