.container-menu{
    display: flex;
    flex-direction: row;
    /* background: rgba(36, 42, 59, 0.5); */
    background: #D9D9D9;
    margin-inline: 15px;
    padding-inline: 53px;
   
}
.container-flex-column{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.container-film{
    display: flex;
    flex-direction: column;;
    margin-inline: 30px;
    
}
.search{
    background: rgba(29, 39, 73, 0.10);
    border-radius: 4px;
    padding: 10px;
    height: 10px;
    margin-top: 10px;
    position: absolute;
    top: 11%;
    right: 9%;
    
   
}
.div-border{
    border: 0.50px solid #656976;
    border-radius: 4px;
    padding: 8px;
    height: 10px;
    margin-top: 10px;
    
   
}
.input-search{
    background: white; 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    width: 248px;
    padding:0px 12px;
    height:50px;
    margin:10px 5px;
    border: none;
}