.container {
    position: relative;
    width: 260px;
    margin-inline: 10px;
    margin-block: 10px;
  }
  
.image1 {
    width: 100%;
    object-fit: cover;
  }
  
  .image2 {
    position: absolute;
    top: 7%;
    left: 85%;
    padding: 10px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.65);
    border-radius: 4px;
  }
  .image2:hover {
    border: 2px solid #EB5757; /* Bordure rouge au survol */
    background-color: white; /* Fond blanc au survol */
   
  }

  .flex-column{
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: white;
    margin-top: -3px;

  }
  .flex-vote, .flex-play{
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
  }
  .flex-vote-row, .flex-play-row{
      display: flex;
      flex-direction: row;
  }

  .flex-play-row, .image-commander{
    background: rgba(29, 39, 73, 0.08);
    border-radius: 4px;
    padding-inline: 12px;
  }

  .flex-play-row:hover{
    border: 1px solid #EA580C;
    color: #EA580C;
    background-color: white;
  }

  .flex-vote-text{
    color: rgba(29,39,73,0.90);
    font-size: 1rem;
  
    font-weight: 400;
  }
  .flex-play-text{
    font-size: 0.75rem;
    font-weight: 400;
  }
  .flex-play-text:hover{
    color: #EA580C;
  }

