.cart-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cart-value{
    background: linear-gradient(180deg, #F28F00 0%, #EA580C 100%); 
    border-radius: 5px;
    padding: 4px 10px;
    color: white;
}
.cart-text{
    color: #706F6F;
    font-size: 14px;
 
    margin-top: 22px;
    font-weight: 400;
}