
.navbar-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-items-text{
    color: rgba(112, 111, 111, 0.90);
    font-size: 14px;
    font-family: Ubuntu;
    margin-right: 50px;
}


.icone-logout{
    width: 16px;
    height: 16px;
}
